# Ignore node_modules directory
node_modules/

# Ignore build artifacts
build/
dist/
coverage/

# Ignore environment variables file (if applicable)
.env

# Ignore system and IDE files
.DS_Store
*.log
*.swp

# Ignore npm debug log
npm-debug.log*

# Ignore yarn lock file
yarn.lock
